<p-dialog
    [modal]="true"
    class="login"
    [(visible)]="openLoginModal"
    (onHide)="onClose()"
>
    <!-- <div
        class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
    >
    <div class="flex flex-column align-items-center justify-content-center">-->
    <div style="border-radius: 56px; padding: 0.3rem">
        <div class="w-full surface-card py-4 px-4 sm:px-2">
            <div class="text-center mb-5">
                <h1><strong>GP</strong></h1>
                <div class="text-900 text-3xl font-medium mb-3">
                    Welcome, GamerPal!!
                </div>
                <span class="text-600 font-medium">Sign in to continue</span>
            </div>

            <div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="field">
                        <label
                            for="mobileNo"
                            class="block text-900 text-xl font-medium mb-2"
                            >Mobile Number</label
                        >
                        <input
                            id="mobileNo"
                            type="text"
                            pInputText
                            class="w-full md:w-30rem"
                            style="padding: 1rem"
                            placeholder="Mobile Number"
                            formControlName="mobileNo"
                        />
                        <!-- <div
                                    *ngIf="
                                        f['mobileNo'].invalid &&
                                        (f['mobileNo'].dirty ||
                                            f['mobileNo'].touched)
                                    "
                                >
                                    <div
                                        class="p-invalid text-red-600 mt-2"
                                        *ngIf="f['mobileNo'].errors?.['required']"
                                    >
                                        Mobile Number is required.
                                    </div>
                                </div> -->
                    </div>
                    <div class="field">
                        <label
                            for="password"
                            class="block text-900 font-medium text-xl mb-2"
                            >Password</label
                        >
                        <p-password
                            inputid="password"
                            placeholder="Password"
                            formControlName="password"
                            [toggleMask]="true"
                            inputStyleClass="w-full p-3 md:w-30rem"
                            maxlength="16"
                        ></p-password>
                        <!-- <div
                                    *ngIf="
                                        f['password'].invalid &&
                                        (f['password'].dirty ||
                                            f['password'].touched)
                                    "
                                >
                                    <div
                                        class="p-invalid text-red-600 mt-2"
                                        *ngIf="f['password'].errors?.['required']"
                                    >
                                        Password is required.
                                    </div>
                                </div> -->
                    </div>
                    <div
                        class="flex align-items-center justify-content-between mb-5 gap-5"
                    >
                        <div class="flex align-items-center">
                            <label for="rememberme1">&nbsp;</label>
                        </div>
                        <a
                            class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)"
                            href="forgot-password"
                            >Forgot password?
                        </a>
                    </div>
                    <div>
                        <button
                            pButton
                            pRipple
                            label="Sign In"
                            class="w-full p-3 text-xl"
                            [attr.loading]="isBtnLoading"
                        ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <p-toast position="bottom-center"></p-toast>
</p-dialog>
