<div class="p-card" style="width:100%" fxLayout="column" style="padding:50px">
    <h1>Edit Profile....</h1>
    <mat-divider></mat-divider>
    <!-- <div class="card flex justify-content-center">
        <p-knob [(ngModel)="value" [size]="200"></p-knob>
    </div> -->
    <div [fxLayout]="onMobile ? 'column':'row'" style="width:100%" fxLayoutGap="20px">

        <mat-form-field [style.width.%]="onMobile ? '100':'50'">
            <mat-label>Username</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field [style.width.%]="onMobile ? '100':'50'">
            <mat-label>Email</mat-label>
            <input matInput readonly>
        </mat-form-field>

    </div>
    <div [fxLayout]="onMobile ? 'column':'row'" style="width:100%" fxLayoutGap="20px">

        <mat-form-field [style.width.%]="onMobile ? '100':'50'">
            <mat-label>bio</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field [style.width.%]="onMobile ? '100':'50'">
            <mat-label>Description</mat-label>
            <input matInput>
        </mat-form-field>

    </div>     

    <mat-form-field class="example-chip-list" fxLayout="column" style="width:100%">
        <mat-label>Favorite Games</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter Games">
            <mat-chip-row *ngFor="let fruit of fruits"
                        (removed)="remove(fruit)"
                        [editable]="true"
                        [aria-description]="'press enter to edit ' + fruit.name">
            {{fruit.name}}
            <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                <mat-icon svg-icon="cancel"></mat-icon>
            </button>
            </mat-chip-row>
            <input placeholder="Enter games"
                    [matChipInputFor]="chipGrid"
                    (matChipInputTokenEnd)="add($event)"/>
        </mat-chip-grid>
    </mat-form-field>
    
        <div style="width:100%">
           <h1> Select Your Banner</h1>
            
            <mat-grid-list cols="4" rowHeight="1:1">

                <mat-grid-tile *ngFor="let item of gamesData"  fxLayoutGap="10px">
                    
                    <div fxLayout="column" >
                        <img [src]="item?.thumbnail" style="width:80%"/>
                        <span fxLAyoutAlign="center center" fxLayout="row" style="width:100%">{{item.title}}</span>
                    </div>

                </mat-grid-tile>

            </mat-grid-list>


        </div>

</div>